<div class="button_list">
  <!-- <button class="buttonBack" mat-button (click)="routeTo('home')">
    <button mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
    <div class="text">Home</div>
  </button> -->
  <button class="buttonBack" mat-button (click)="routeTo('book')">
    <button mat-mini-fab>
      <mat-icon>library_books</mat-icon>
    </button>
    <div class="text">Book</div>
  </button>
  <button class="buttonBack" mat-button (click)="routeTo('user')">
    <button mat-mini-fab>
      <mat-icon>info</mat-icon>
    </button>
    <div class="text">Borrowed</div>
  </button>

  <button class="buttonBack" mat-button (click)="routeTo('about')">
    <button mat-mini-fab>
      <mat-icon>info</mat-icon>
    </button>
    <div class="text">About Us</div>
  </button>
</div>
