
This demo application was initially developed for code assessment purposes. However, I hope it can also serve as a useful resource for new programmers learning how to use SQL Server, .NET Core for database connectivity, and Entity Framework with AngularJS.
<br>
<br>
<b>Technologies Used:</b>
<ul>
<li>Database: MSSQL 2022 Developer Edition</li>
<li>Frontend: Angular v19 (developed using Visual Studio Code)</li>
<li>Backend: C# .NET Core 8.0</li>
<li>Development Tools: Visual Studio 2022 Community Edition</li>
<li>Web Server: Nginx Reverse Proxy</li>
<li>Other: HTML, JavaScript, Certbot SSL</li>
</ul>
<br>

<b>Features:</b>
<br>
<ul>
<li>Users can search for books on the Book page, with results returning 100,000 records in less than one second thanks to the caching technology implemented.</li>
<li>Borrowed books are displayed on the Borrowed page.</li>

</ul>
<br><br>
Verion 1.1. Improve my REST API by handling empty search parameters effectively. Ensure that if a search keyword is missing or empty, the API returns appropriate results instead of errors. (Feb 4, 2025)
<br><br>
Verion 1.11 Add Loading Service (Feb 4, 2025)
<br><br>
<p>Program written by: <i>Edwin Wong</i> Date Jan 30, 2025</p>
