.inputBox {
  width: 100%;
}

.error_message {
  color: red;
}

.iconClose {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

.searchbutton {
  width: 30%;
}
.no_message {
  font-size:medium;
  color:green;
}
.mat-column-isbn {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 140px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
