
<div class="container">
  <div class="row">
    <label class="headerLabel">All Borrowed Items</label>
  </div>
  <div class="main_form" >
    <label *ngIf="statusText!=''" class="statusText" [textContent]="statusText"></label>
    <label *ngIf="errorText!=''" class="errorText" [textContent]="errorText"></label>

    <table mat-table [dataSource]="dataSource" class="transparent-background">
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let x;">
          {{x.userName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="bookTitle">
        <th mat-header-cell *matHeaderCellDef>Book Title </th>
        <td mat-cell *matCellDef="let x">
          {{x.bookTitle}}<br>
          Due Date: {{x.dateExpectedReturn}} &nbsp;
          <span class="borrow_link" (click)="Return(x.bookInventoryId)">Return</span>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20, 50, 100 ]" #bottomPaginator (page)="onPageChange($event)"
      [hidden]="!dataSource.data.length"
      showFirstLastButtons
      aria-label="Select page">
    </mat-paginator>

  </div>
</div>
